// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

// Typography
//$title-font-family: 'Libre Franklin', sans-serif;
//$link-font-family: 'Libre Franklin', sans-serif;
//$lf-font-family: 'Libre Franklin', sans-serif;
$body-font-family: 'Maven Pro', sans-serif;

$font-size-base: 14px;

// Colors
$body-bg: #F6F6F6;
$white: #ffffff;
$brand-color:  #023857;
$brand-color-light:  #0A4A6F;
$secondary-brand-color:  #DBF3FF;

